<p id="notice"><%= notice %></p>

<p>
  <b>Task:</b>
  <%= @scheduler.task_id %>
</p>

<p>
  <b>Start at:</b>
  <%= @scheduler.start_at %>
</p>

<p>
  <b>Is started:</b>
  <%= @scheduler.is_started %>
</p>


<%= link_to 'Edit', edit_scheduler_path(@scheduler) %> |
<%= link_to 'Back', schedulers_path %>
